/*======TYPOGRAPHY======*/
.description-text {
  display: block;
  word-break: break-word;
  width: 100%;
  font-family: $font-neue-haas-grotesk;
  text-align: left;
  margin: 0;
  padding: 0;
  &.grey {
    color: $grey-primary;
  }
  &.text-justify {
    text-align: justify;
  }
  &.text-right {
    text-align: right;
  }
  &.text-center {
    text-align: center;
  }
  &.text-left {
    text-align: left;
  }
  &.font-italic {
    font-style: italic;
  }
  &.uppercase {
    text-transform: uppercase;
  }
  &.lowercase {
    text-transform: lowercase;
  }
  &.capitalize {
    text-transform: capitalize;
  }
}